@use '../variables';

.button {
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    border: 0.6px solid black;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    width: 400px;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$button
    }

    @media (max-width: 640px){
        display: flex;
        width: 100%;
        align-items: center;
    }

    @media (max-width: 1024px){
        display: flex;
        align-items: center;
    }

}